@media screen and (max-width: 400px) {
  .container__menu-title {
    color: white;
  }

  .container__menu-title hr {
    margin-bottom: 5px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(209, 209, 209, 0.521),
      rgba(255, 255, 255, 0)
    );
  }

  .container__menu-title h1 {
    font-family: "segoe UI";
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 3.8rem;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 760px) {
  .container__menu-title hr {
    margin-bottom: 5px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(209, 209, 209, 0.521),
      rgba(255, 255, 255, 0)
    );
  }

  .container__menu-title h1 {
    font-family: "segoe UI";
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 4rem;
    text-transform: uppercase;
  }
}
